---
import background from '../assets/background.webp';
import { getCollection } from 'astro:content';
import DesktopIcon from './DesktopIcon.astro';

const allDirectories = await getCollection('directories');
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main class="px-10 py-20">
		<section class="desktop flex flex-col flex-wrap items-start gap-10">
			{allDirectories.map(directory => (
				<DesktopIcon id={directory.id} type="directory" name={directory.data.name} icon={directory.data.icon} />
			))}
		</section>
	</main>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}
</style>

<script>
import { wm } from "../scripts/window-manager.ts"
import { Window, WindowAction, WindowEvent } from "../scripts/windows"

document.addEventListener(WindowAction.create, ((event: WindowEvent) => wm.addWindow(event.window)) as EventListener);
document.addEventListener(WindowAction.close, ((event: WindowEvent) => wm.removeWindow(event.window)) as EventListener);

if (import.meta.env.DEV) {
	document.addEventListener("DOMContentLoaded", () => {
		const w = new Window("/directories/movies", "Movies");
		w.open();
	})
}
</script>
