---
import Image from "astro/components/Image.astro";
---
<section class="homebar w-full p-2 bg-denim-800 flex gap-2">
	<button class="mr-4 bg-wild-sand-300">
		<Image src="/src/assets/menu grid.svg" alt="Home" height=30 width=30 />
	</button>
</section>
