---
import { wm } from '../scripts/windows.ts';
const width = wm.defaultWindowSize.width;
const height = wm.defaultWindowSize.height;
---
<div id="original-window" class="window absolute flex" style={{ width: `${width}px`, height: `${height}px`, visibility: "hidden" }}>
	<div class="window-status-bar w-full">
		<iframe class="w-full h-full"/>
	</div>
</div>

<script>
import { wm } from '../scripts/windows.ts';

const w = document.querySelector("#original-window");
console.log(w);
w.style.top = `${document.documentElement.clientHeight / 2 - wm.defaultWindowSize.height / 2}px`;
w.style.left = `${document.documentElement.clientWidth / 2 - wm.defaultWindowSize.width / 2}px`;
console.log(w.style.left);
</script>
